/* Place project-specific CSS here */
.italicized {
    font-style: italic;
}
lg[rend~="center"] {
    text-align: center;
}
lg[rend~="left"] {
    text-align: left;
}
l[rend~="indented"] {
    text-indent: 50px;
}
