/* Place project-specific CSS here */
p[rend="italicized"],
l[rend="italicized"] {
    font-style: italic;
}
lg[rend="center"] {
    align-content: center;
}
lg[rend="left"] {
    justify-content: left;
}
l[rend="indented"] {
    margin-left: 50px;
}
