title {color: black; font-family: helvetica}
h1 {color:black; font-family:helvetica;}
h2 {color: black; font-family: serif}
h3, h4, h5, body {color: black; font-family: courier, fixed, monospace; text-align: left}
div {width: 600px; margin: auto}