/* Place project-specific CSS here */

.content {
    width: 75%;
    margin: auto;
    border: 1px;
}

h1 {
    color:black;
    font-family:Garamond;
    text-align:justify;
    text-justify:auto
}

h2 {
    color:black;
    font-family:Garamond;
    text-align:left;
}

h3 {
    color:black;
    font-family: Garamond;
    text-align: center;
}

div {
    text-align: center;
}
