/* Place project-specific CSS here */

TEI {
    display: block;
    background-color: cornsilk;
}

h1 {
    color:black;
    font-family:Garamond;
    text-align:justify;
    text-justify: auto;
}

h2 {
    color:black;
    font-family:Garamond;
    text-align:justify;
    text-justify:auto;
}

h3 {
    color:black;
    font-family: Garamod;
    text-align:justify;
    text-justify:auto;
}

h4 {
    color:black;
    font-family: Garamod;
    text-align:justify;
    text-justify:auto;
}


div {
    text-align: justify;
    text-justify: auto;
}