/* Place project-specific CSS here */
body {
    background-color: cornsilk;
}


h{
     color:black;
    font-family:Garamond;
    font-size:20pt;
    text-align:center;
    text-transform:uppercase;
    padding:50px;
    
}

p{
    color:black;
    font-family:Garamond;
    font-size:20pt;
    text-align:left;
    text-indent:40px;
    padding:50px;
}


